---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Arsenicxxx">
	<main>
		<h1><span class="titulo">Töxic Squad Official Website</span></h1>
		<p class="instructions">
			Welcome to the <strong>"Töxic Squad"</strong>official site, here you
			will find links to Music Platforms, Social Media, Merch, etc.
		</p>
		<ul role="list" class="grid-card">
			<Card
				href="https://linktr.ee/arsenicxxx/"
				title="Arsenicxxx"
				body="LinkTree"
			/>
			<Card
				href="https://www.instagram.com/smokeylil1400//"
				title="Smokeylil1400"
				body="Instagram"
			/>
		</ul>
	</main>
</Layout>
<style>
	.titulo {
		font-weight: bold;
		color: greenyellow;
	}
	h1 {
		text-align: center;
		color: greenyellow;
	}
	.grid-card {
		display: grid;
		grid-template-columns: 1fr 1fr; /* Dos columnas de ancho igual */
		grid-gap: 10px;
		max-width: 768px;
	}
	.instructions {
		text-align: center;
		color: greenyellow;
	}
</style>
